.imageContainer {
    max-width: 320px;
}

.cardStyle {
  display: 'flex';
  padding: '20px';
  margin: '20px';
  margin-top: '50px';
}

.topper {
    flex: 1;
    width: 100%;
    flex-direction: "row"
}

.x {
    padding-left: 80px;
}

.container {
    width:70%;
    margin: auto;
}

.center {
    margin-left: auto;
    margin-right: auto;
}
